        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;   /* will not show border internal outline when clicked */
            font-family: sans-serif;
        }

        body{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aqua;
        }

        .container{
            width: 400px;
            height: min-content; /* will automatically take height for content */
            background-color: #fff;
            border-radius: 12px;
            padding: 1.5rem;

        }

        .search-box{
            width: 100%;
            height: min-content;
            border-radius: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .search-box input{
            width: 85%;
            font-size: 20px;
            text-transform:capitalize ;
            color: #000;
            background-color:rgb(213, 231, 239);
            padding: 0.50rem 1rem;
            border-radius: 1rem;
        }

        .search-box input::placeholder{
            color: #000;  
        }
        .search-box button{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: rgb(213, 231, 239);
            cursor: pointer;
            font-size: 1.2rem;
        }

        .search-box button:hover{
            color: #fff;
            background-color: rgb(116, 131, 137);
        }

        .weather-body{
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-block:20px;

        }

        .weather-body img{
            width: 60%;
        }

        .weather-box{
            margin-block: 20px;   /* Top and bottom margin shorthand */
            text-align: center;
        }

        .weather-box .temperature{
            font-size: 2.2rem;
            font-weight:800;
            position: relative;
        }

        .weather-box .temperature sup{
            font-size: 1.2rem;
            position: absolute;
            font-weight: 600;
        }

        .weather-box .description{
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: capitalize;
          
        }

        /* Weather Details */
        .weather-details{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }
        .humidity, .wind{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .humidity{
            margin-left: 1.2rem;
            /* width: 50rem; */
        }

        
        .wind{
            margin-right: 1rem;
        }
        .weather-details .wind-img{
            width: 3rem;
            height: 2.5rem;
        }
        .humidity-img{
            height: 4rem;
        }
    
        .weather-details .text{
            margin-left: 10px;
            font-size: 1rem;
        }
        
        .text span{
            font-size: 1.3rem;
            font-weight: 700;
        }
        

        .location_not_found{
            width: 100%;
            margin-top: 2rem;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
                
        }
        .location_not_found h1{
            font-size: 1rem;
            color: rgb(171, 168, 168);
            margin-block-end: 1rem;
            
        }
        .location_not_found img{
            width: 80%;
        }